USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_PRODUTOS]    Script Date: 30/08/2021 20:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ADD_PRODUTOS]

@DESCRICAO	VARCHAR(50),
@VALOR_UNITARIO FLOAT,
@UNIDADE CHAR(10),
@COD_MARCA INT,
@QDE_ESTOQUE FLOAT

AS
 IF NOT EXISTS (SELECT * FROM produtos P WHERE P.descricao = @DESCRICAO)
	BEGIN
		INSERT INTO produtos(descricao, valor_unitario, unidade, cod_marca, qde_estoque) values	(@DESCRICAO, @VALOR_UNITARIO, @UNIDADE, @COD_MARCA, @QDE_ESTOQUE);
		PRINT ('REGISTRO INSERIDO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ EXISTE ESSE REGISTRO');
		RETURN 0;
	END
