USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_MARCAS]    Script Date: 30/08/2021 20:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ADD_MARCAS]

@DESCRICAO	VARCHAR(50)

AS
 IF NOT EXISTS (SELECT * FROM marcas M WHERE M.DESCRICAO = @DESCRICAO)
	BEGIN
		INSERT INTO marcas(descricao) 
		values (@DESCRICAO);
		PRINT ('REGISTRO INSERIDO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ EXISTE ESSE REGISTRO');
		RETURN 0;
	END
