USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_CLIENTE]    Script Date: 30/08/2021 20:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ADD_CLIENTE] 

@NOME		VARCHAR(50),
@CPF		VARCHAR(13),
@ENDERECO	VARCHAR(50),
@BAIRRO		VARCHAR(20),
@COD_CIDADE INT,
@CEP		VARCHAR(9),
@TELEFONE	VARCHAR(15),
@CELULAR	VARCHAR(15)

AS

DECLARE @DATA_CADASTRO DATE = GETDATE();

 IF NOT EXISTS (SELECT * FROM clientes C WHERE C.cpf = @CPF)
	BEGIN
		INSERT INTO clientes(nome, cpf, endereco, bairro, cod_cidade, cep, telefone, celular, data_cadastro) 
		values (@NOME, @CPF, @ENDERECO, @BAIRRO, @COD_CIDADE, @CEP, @TELEFONE, @CELULAR, @DATA_CADASTRO);
		PRINT ('REGISTRO INSERIDO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ EXISTE ESSE REGISTRO');
		RETURN 0;
	END