USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_CIDADES]    Script Date: 30/08/2021 20:39:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_CIDADES]

@COD_CIDADE INT

AS
 IF NOT EXISTS (SELECT * FROM clientes C WHERE C.cod_cidade = @COD_CIDADE)
	BEGIN
		DELETE FROM cidades WHERE cod_cidade = @COD_CIDADE
		PRINT ('REGISTRO DELETADO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ ESTÁ VINCULADO A UM CLIENTE');
		RETURN 0;
	END