USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_MARCAS]    Script Date: 30/08/2021 20:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_MARCAS]

@COD_MARCA INT

AS
 IF NOT EXISTS (SELECT * FROM produtos P WHERE P.cod_marca = @COD_MARCA)
	BEGIN
		DELETE FROM marcas WHERE cod_marca = @COD_MARCA
		PRINT ('REGISTRO DELETADO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ ESTÁ VINCULADO A UM PRODUTO');
		RETURN 0;
	END