USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_PRODUTOS]    Script Date: 30/08/2021 20:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_PRODUTOS]

@COD_PRODUTO INT

AS
 IF NOT EXISTS (SELECT * FROM itens_nota I WHERE I.cod_produto = @COD_PRODUTO)
	BEGIN
		DELETE FROM produtos WHERE cod_produto = @COD_PRODUTO
		PRINT ('REGISTRO DELETADO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ ESTÁ VINCULADO A UM ITENS NOTA');
		RETURN 0;
	END