USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_NOTA_FISCAL]    Script Date: 30/08/2021 20:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_NOTA_FISCAL]

@NUM_NOTA INT

AS
 IF NOT EXISTS (SELECT * FROM itens_nota I WHERE I.num_nota = @NUM_NOTA)
	BEGIN
		DELETE FROM nota_fiscal WHERE num_nota = @NUM_NOTA
		PRINT ('REGISTRO DELETADO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ ESTÁ VINCULADO A UM ITENS NOTA');
		RETURN 0;
	END