USE [comercial_sp_2021]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_CLIENTES]    Script Date: 30/08/2021 20:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DEL_CLIENTES]

@COD_CLIENTE INT

AS
 IF NOT EXISTS (SELECT * FROM nota_fiscal N WHERE N.cod_cliente = @COD_CLIENTE)
	BEGIN
		DELETE FROM clientes WHERE cod_cliente = @COD_CLIENTE
		PRINT ('REGISTRO DELETADO COM SUCESSO');
		RETURN 1;
	END
 ELSE
	BEGIN
		PRINT ('JÁ ESTÁ VINCULADO A UMA NOTA');
		RETURN 0;
	END